# ============================================
# SETTINGS FOR POSTGRESQL
# ============================================

DB_NAME=your_db
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password

# ============================================
# HIBERNATE SETTINGS
# ============================================
HIBERNATE_DDL=update
SHOW_SQL=true
FORMAT_SQL=true

# ============================================
# FLYWAY SETTINGS
# ============================================
FLYWAY_ENABLED=false
FLYWAY_BASELINE_ON_MIGRATE=false

# ============================================
# APPLICATION SETTING
# ============================================
LOG_DIR=./logs
LOG_LEVEL=DEBUG

